# Dependencies
node_modules/

# Build output
dist/


# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Session data
sessions/
*.session
uploads/
*.binlog
*.mp3
*.webm
*.jpg
*.pdf
*.docx
*.zip
dump.rdb
