[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[dn]
C  = CO
ST = Colombia
L  = Server
O  = Trelk
OU = Telegram Bot
CN = 52.156.105.50

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 52.156.105.50
